.group-description-management {
  .Button {
    border-color: #2055b5 !important;
    color: #2055b5 !important;
  }

  .input-labels {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #323c47;
  }
  .marketing-material {
    .label {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #323c47;
    }
  }
}

.astrict {
  color: red !important;
}

.st-button-wrapper {
  .Button {
    color: #ffffff !important;
  }
}

.new-group-des input {
  height: 35px;
}

.new-group-des{
  width: 100% !important;
}

.st-group-list-tags-box {
  border: 1px solid #c4c4c4;
  padding: 0.5em;
  border-radius: 3px;
  .st-group-list-tags {
    color: #fff !important;
    background-color: #707683;
    border-radius: 32px;
    text-transform: none !important;
  }
}

.st-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #323c47;
}
