.formulary-otc-benefit-grid {
  

   

    margin-top: 15px;
    .bordered {
        border: 1px solid#e5e5e5;
        border-radius: 5px;
   
    .formulary-grid-panel-header-container {
      display: flex;
      align-items: center;
      border-bottom: 1px solid#e5e5e5;
      position: relative;
    }
  
    .formulary-grid-panel-header {
      border-bottom: 0px;
    }
    .container-title {
        color: #717783;
        font-weight: 100;
        font-family: Roboto;
        font-style: normal;
    }
.row-height {
    margin-top: 10px;
}
    .otc-benefits-input {
 border-radius: 3px;
    border: 1px solid #E5E5E5;
    height: 30px;
    }
}
   
  }
  
 
 
  