.drug-exclusions-wrapper {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  .heading-wrapper {
    border-bottom: 1px solid #e5e5e5;
    h4 {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #1d54b4;
      padding: 10px 20px;
    }
  }

  .drug-exclusions-tabs {
    padding: 10px;
  }

  .drug-exclusions-tabs-info {
    padding: 10px 20px;
  }
}
